#container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    /* default value é stretch, */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */
    align-items: baseline;
}
.item{
    background: lightcoral;
    padding: 30px;
    margin: 10px;
    text-align: center;
}